

<!-- <div style="border-bottom: 1px solid #e9e9e9;padding:10px 12px;"><span style="font-size: 20px">MapmyIndia Maps API: </span> <span style="font-size:16px;color:#777">Map Marker Example</span></div>
 <div id="result">            
<div style="padding: 16px 12px 6px 38px"><button onclick="mapmyindia_stock_marker(28.4567, 78.3456)" style="width: 220px;">Add default marker</button></div>
            <div style="padding:6px 12px 6px 38px;"><button onclick="mapmyindia_removeMarker()" style="width: 220px;">Remove marker(s)</button></div>
            <div style="padding:14px 12px 6px 38px;color: #666;">Event Logs</div> -->
            <div style="padding:6px 12px 6px 38px;color: #777; font-size: 12px; line-height: 22px;" id="event-log"></div>
        <!-- </div> -->
        <div id="map-container"></div>
