<!DOCTYPE html>
<html ng-app="receiveRTC">
  <head>
    <title>Video Streaming</title>
    <base href="/" />
    <link rel='stylesheet' href='stylesheets/style.css' />
    
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
  <script type="text/javascript" src="https://api.mapmyindia.com/v3?fun=load_api_cached&scope=nt-india&v=0.8&lic_key=MTFBbmFueWEgQ2hhbmRyYQ=="></script>
  
	<script type="text/javascript" src="javascripts/receiveClient.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js">
	</script>
	<script type="text/javascript" src="javascripts/appReceive.js"></script>

  </head>
  <body>
  	<h1>Receive API</h1>

  	<div class="remoteStreams" ng-controller="RemoteStreamsController as rtc">
      <h2>Remote Streams</h2>

      <div id="remoteVideosContainer"></div>

      <table>
        <thead>
          <tr>
              <th>Stream</th><th>1-way</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stream in rtc.remoteStreams" ng-class="{'selected' : stream.isPlaying}">
            <td><a>{{stream.name}}</a></td>
            <td ng-click="rtc.view(stream)"><a>View</a></td>
          </tr>
        </tbody>
      </table>

      <li ng-click="rtc.loadData()" style="width: 240px">
        <a href>Refresh</a>
      </li>
    </div>

    <%= include map %>
  </body>
</html>